@import 'reset';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: "'Roboto Mono', monospace",
);

@include mat-core($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
